<!DOCTYPE html>
<html>
  <head>
    <title>Tun.r</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Tun.r</h1>
    <nav>
      <a href="/lies">lies</a>
      <a href="/candidates">candidates</a>
    </nav>
    {{{body}}}
  </body>
</html>
