<h2>New lie</h2>

<form action="/lies" method="post">
  <label for="title">Title:</label>
  <input name="title">

  <label for="album">Album:</label>
  <input name="album">

  <label for="previewUrl">Preview URL:</label>
  <input name="previewUrl">

  <label for="candidateId">candidate ID:</label>
  <input name="candidateId">

  <input type="submit" value="Create">
</form>
